-----BEGIN CERTIFICATE-----
MIIDCTCCAfGgAwIBAgIUYOvKuN5QHjKGUniwYr15AtPL2aYwDQYJKoZIhvcNAQEL
BQAwFDESMBAGA1UEAwwJbG9jYWxob3N0MB4XDTI1MTIwMzAwMDcyM1oXDTI2MTIw
MzAwMDcyM1owFDESMBAGA1UEAwwJbG9jYWxob3N0MIIBIjANBgkqhkiG9w0BAQEF
AAOCAQ8AMIIBCgKCAQEApC/cAptIkpD6cA6LDhbLrFTnx9ppIGn6IsLTQgY8d75k
FsXB8C4Ga8Cu2Q3L6SA9JTz2ZAnX92vb7aHTc5ichoT2KnCM76lyPdwzU+6u1qZf
LurU6aYBlfZvgXuVWQfm3f5OmqxBG/xkbZN8Dl3h0HMwni1Wn4Y08lUtxhD3HqHI
enWAE9d/mLC7bAM/gQ5roVZVdv2C5tW2xkl91VSXGYkkXesUVObXwhlSuewTL3gJ
WzczQFJQ+zgV285HLExZMfEvyuZ36TIIluA+iZyLh+zed/27Rjv9M4lZ5ftdqooS
BhXSIDrr4XtpNw5SuBGUVukpDU7hNjmN2RjhI/DP0wIDAQABo1MwUTAdBgNVHQ4E
FgQUQoEqQNSeiX5ySztU+NBZzXWkFLgwHwYDVR0jBBgwFoAUQoEqQNSeiX5ySztU
+NBZzXWkFLgwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEARDyC
KcpKLd9e8UrU29nwJhvL1jOrSLm9UOTCtbLgX+9vGzO0J64U83I2n5tOd/zKSQrL
HI734/IFBR9NfO5LiP4BuJU+xOVn3jL0wjVteH17SQD24iwgzCXPkkW0zhojn1Ta
gDd6A/+VGLWyAqgSwPgM8Y3Jw+/lsqbnvq4jRtkC4MLyPoooBkCXnKQRRzzEGgFE
MYTCjHuYMXm+CpS/mP0W07VR212oXYkmFO0oiv/Pe6T+raW+tTHyLUcQANqvNB5B
MF7hjSQzC0jbPpORqH7i2Ih6+yQSDkQqPrFkvL9d0c3DlY1OkWk15B91QbahHcDZ
G6M8Q+ZHzAtfqMV/5w==
-----END CERTIFICATE-----
